Repository stepflow-ai/stepflow, pull requests merged in 2025-08, with the labels that each got.

#194 feat: Add schema field to flow
  examples/basic/workflow.yaml
  examples/custom-python-components/workflow.yaml
  examples/data-pipeline/debug-pipeline.yaml
  examples/data-pipeline/pipeline.yaml
  examples/eval/math-eval.yaml
  examples/eval/simple-eval.yaml
  examples/eval/test-builtins.yaml
  examples/file-loading/load-pipeline.yaml
  examples/file-loading/test-load.yaml
  examples/loop-components/builtin_iterate.yaml
  examples/loop-components/iterate.yaml
  examples/loop-components/map_example.yaml
  examples/mcp-component/basic.yaml
  examples/openai/openai_chat.yaml
  schemas/protocol.json
  sdks/python/src/stepflow_py/context.py
  sdks/python/src/stepflow_py/flow_builder.py
  sdks/python/src/stepflow_py/generated_protocol.py
  sdks/python/src/stepflow_py/server.py
  stepflow-rs/Cargo.lock
  stepflow-rs/crates/stepflow-analysis/src/dependency.rs
  stepflow-rs/crates/stepflow-analysis/src/validation.rs
  stepflow-rs/crates/stepflow-builtins/src/eval.rs
  stepflow-rs/crates/stepflow-builtins/src/iterate.rs
  stepflow-rs/crates/stepflow-builtins/src/map.rs
  stepflow-rs/crates/stepflow-core/src/values/value_resolver.rs
  stepflow-rs/crates/stepflow-core/src/workflow/flow.rs
  stepflow-rs/crates/stepflow-core/src/workflow/step_id.rs
  stepflow-rs/crates/stepflow-execution/src/workflow_executor.rs
  stepflow-rs/crates/stepflow-main/Cargo.toml
  stepflow-rs/crates/stepflow-main/src/error.rs
  stepflow-rs/crates/stepflow-main/src/repl.rs
  stepflow-rs/crates/stepflow-main/src/test.rs
  stepflow-rs/crates/stepflow-protocol/src/handlers/blob_handlers.rs
  stepflow-rs/crates/stepflow-server/src/api/runs.rs
  stepflow-rs/crates/stepflow-server/tests/integration_tests.rs
  stepflow-rs/crates/stepflow-state-sql/src/lib.rs
  stepflow-rs/crates/stepflow-state/src/in_memory.rs
  tests/basic.yaml
  tests/builtins/blob_test.yaml
  tests/builtins/nested_eval.yaml
  tests/http/basic_http.yaml
  tests/http/bidirectional_http.yaml
  tests/mcp/basic_mcp.yaml
  tests/mock/basic.yaml
  tests/mock/conditional_skip.yaml
  tests/mock/conditional_skip_use_default.yaml
  tests/mock/error_fail.yaml
  tests/mock/error_skip.yaml
  tests/mock/error_use_default.yaml
  tests/mock/error_use_default_value.yaml
  tests/mock/stepflow-config.yml
  tests/no_tests.yaml
  tests/python/blob_integration.yaml
  tests/python/blob_simple.yaml
  tests/python/udf_function.yaml
  tests/python/udf_simple.yaml
  tests/python/udf_text_processing.yaml
  tests/sql-state/simple_workflow.yaml
Labels: core, py

#174 feat: Add comprehensive LangChain integration for StepFlow Python SDK
  .github/actions/python-checks/action.yml
  .github/actions/rust-checks/action.yml
  .github/workflows/release_python.yml
  .gitignore
  .licensure.yml
  examples/langchain/README.md
  examples/langchain/decorated_runnable.yaml
  examples/langchain/example_runnables.py
  examples/langchain/input.json
  examples/langchain/langchain_server.py
  examples/langchain/named_runnable.yaml
  examples/langchain/stepflow-config.yml
  examples/langchain/udf.yaml
  scripts/check-python.sh
  scripts/test-integration.sh
  scripts/test-python-versions.sh
  sdks/python/pyproject.toml
  sdks/python/src/stepflow_py/__init__.py
  sdks/python/src/stepflow_py/http_server.py
  sdks/python/src/stepflow_py/langchain_components.py
  sdks/python/src/stepflow_py/langchain_integration.py
  sdks/python/src/stepflow_py/server.py
  sdks/python/src/stepflow_py/stdio_server.py
  sdks/python/src/stepflow_py/udf.py
  sdks/python/tests/test_http_server.py
  sdks/python/tests/test_server.py
  sdks/python/tests/test_udf.py
  sdks/python/uv.lock
Labels: py

#198 docs: initial reorganization and content
  docs/docs/cli.md
  docs/docs/components/_category_.json
  docs/docs/components/builtins.md
  docs/docs/components/builtins/_category_.json
  docs/docs/components/builtins/create_messages.md
  docs/docs/components/builtins/eval.md
  docs/docs/components/builtins/get_blob.md
  docs/docs/components/builtins/index.md
  docs/docs/components/builtins/load_file.md
  docs/docs/components/builtins/openai.md
  docs/docs/components/builtins/put_blob.md
  docs/docs/components/component-server/_category_.json
  docs/docs/components/component-server/custom-components.md
  docs/docs/components/component-server/index.md
  docs/docs/components/component-server/udfs.md
  docs/docs/components/index.md
  docs/docs/components/mcp-tools.md
  docs/docs/config.md
  docs/docs/examples/_category_.json
  docs/docs/flows/_category_.json
  docs/docs/flows/best-practices.md
  docs/docs/flows/control-flow.md
  docs/docs/flows/execution.md
  docs/docs/flows/expressions.md
  docs/docs/flows/index.md
  docs/docs/flows/input_output.md
  docs/docs/flows/performance.md
  docs/docs/flows/specification.md
  docs/docs/flows/steps.md
  docs/docs/flows/testing.md
  docs/docs/getting_started.md
  docs/docs/introduction.md
  docs/docs/protocol/_category_.json
  docs/docs/protocol/components.mdx
  docs/docs/protocol/schema.mdx
  docs/docs/reference/_category_.json
  docs/docs/reference/flow-schema.mdx
  docs/docs/reference/index.md
  docs/docs/reference/protocol-schema.mdx
  docs/docs/runtime/index.md
  docs/docs/steps/_category_.json
  docs/docs/steps/index.md
  docs/docs/workflows/_category_.json
  docs/docs/workflows/schema.mdx
  docs/scripts/copy-schemas.js
  docs/src/components/SchemaDisplay/index.tsx
  docs/static/schemas/.gitignore
Labels: docs

#204 docs: Simplify / update getting started
  docs/docs/getting-started.md
Labels: docs

#203 docs: Update the CLI documentation
  docs/docs/cli.md
  docs/docs/cli/_category_.json
  docs/docs/cli/index.md
  docs/docs/cli/list-components.md
  docs/docs/cli/repl.md
  docs/docs/cli/run.md
  docs/docs/cli/serve.md
  docs/docs/cli/submit.md
  docs/docs/cli/test.md
  docs/docs/cli/validate.md
  scripts/generate-cli-docs.sh
  stepflow-rs/Cargo.lock
  stepflow-rs/crates/stepflow-components-mcp/src/plugin.rs
  stepflow-rs/crates/stepflow-components-mcp/src/schema.rs
  stepflow-rs/crates/stepflow-core/src/values/value_template.rs
  stepflow-rs/crates/stepflow-core/src/workflow/flow.rs
  stepflow-rs/crates/stepflow-execution/src/workflow_executor.rs
  stepflow-rs/crates/stepflow-main/Cargo.toml
  stepflow-rs/crates/stepflow-main/src/cli.rs
  stepflow-rs/crates/stepflow-main/src/cli_docs.rs
  stepflow-rs/crates/stepflow-main/src/lib.rs
  stepflow-rs/crates/stepflow-main/src/test.rs
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_list_components__list_components_help.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_repl__repl_help.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_run__run_help.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_serve__serve_help.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_submit__submit_help.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_test__test_help.snap
  stepflow-rs/crates/stepflow-plugin/src/routing/router.rs
  stepflow-rs/crates/stepflow-protocol/src/stdio/recv_message_loop.rs
  stepflow-rs/crates/stepflow-state/src/in_memory.rs
Labels: core, docs

#206 docs: Update homepage features
  docs/docs/introduction.md
  docs/src/components/HomepageFeatures/index.tsx
Labels: docs

#207 docs: revise configuration and add cookbook
  docs/docs/configuration.md
  docs/docs/cookbook.md
  docs/docs/protocol/_category_.json
  docs/docs/reference/_category_.json
Labels: docs

#208 docs: include example readmes in docs site
  docs/docs/examples/ai-workflows.md
  docs/docs/examples/basic-operations.md
  docs/docs/examples/custom-components.md
  docs/docs/examples/custom-components.mdx
  docs/docs/examples/data-processing.md
  docs/docs/examples/index.md
  docs/docs/examples/langchain-integration.mdx
  docs/docs/examples/loop-components.mdx
  docs/docs/examples/mcp-tools.md
  docs/docs/examples/mcp-tools.mdx
  docs/docs/examples/openai-workflows.mdx
  docs/docs/examples/production-model-serving.mdx
Labels: docs

#201 docs: Announcement update - adding new features, removing LF refs
  docs/blog/2025-07-announcement.md
Labels: docs

#210 feat: add extensible metadata to flows and steps
  docs/docs/protocol/errors.md
  docs/docs/protocol/methods/flows.md
  schemas/flow.json
  schemas/protocol.json
  sdks/python/src/stepflow_py/context.py
  sdks/python/src/stepflow_py/flow_builder.py
  sdks/python/src/stepflow_py/generated_flow.py
  sdks/python/src/stepflow_py/generated_protocol.py
  sdks/python/src/stepflow_py/http_server.py
  sdks/python/src/stepflow_py/message_decoder.py
  sdks/python/src/stepflow_py/stdio_server.py
  sdks/python/tests/test_http_server.py
  sdks/python/tests/test_server.py
  stepflow-rs/crates/stepflow-analysis/src/dependency.rs
  stepflow-rs/crates/stepflow-analysis/src/validation.rs
  stepflow-rs/crates/stepflow-builtins/src/mock_context.rs
  stepflow-rs/crates/stepflow-components-mcp/tests/integration_test.rs
  stepflow-rs/crates/stepflow-core/src/values/value_resolver.rs
  stepflow-rs/crates/stepflow-core/src/workflow/flow.rs
  stepflow-rs/crates/stepflow-core/src/workflow/step.rs
  stepflow-rs/crates/stepflow-execution/src/executor.rs
  stepflow-rs/crates/stepflow-execution/src/workflow_executor.rs
  stepflow-rs/crates/stepflow-plugin/src/context.rs
  stepflow-rs/crates/stepflow-plugin/src/error.rs
  stepflow-rs/crates/stepflow-protocol/src/error.rs
  stepflow-rs/crates/stepflow-protocol/src/handlers/flow_handlers.rs
  stepflow-rs/crates/stepflow-protocol/src/handlers/message_handler.rs
  stepflow-rs/crates/stepflow-protocol/src/plugin.rs
  stepflow-rs/crates/stepflow-protocol/src/protocol/components.rs
  stepflow-rs/crates/stepflow-protocol/src/protocol/flows.rs
  stepflow-rs/crates/stepflow-protocol/src/protocol/messages.rs
  stepflow-rs/crates/stepflow-protocol/src/protocol/methods.rs
  stepflow-rs/crates/stepflow-protocol/tests/http_integration_test.rs
  stepflow-rs/crates/stepflow-server/tests/integration_tests.rs
  stepflow-rs/crates/stepflow-state-sql/src/lib.rs
  tests/python/simple_metadata_test.yaml
Labels: core, py, docs

#212 docs: Update docs to use stepflow-ai GitHub org
  CONTRIBUTING.md
  README.md
  docs/blog/2025-08-announcement.md
  docs/docs/best-practices/testing.md
  docs/docs/getting-started.md
  docs/docusaurus.config.ts
  examples/production-model-serving/Dockerfile.stepflow
  sdks/python/CHANGELOG.md
  sdks/python/cliff.toml
  sdks/python/pyproject.toml
  stepflow-rs/CHANGELOG.md
  stepflow-rs/Cargo.toml
  stepflow-rs/cliff.toml
Labels: core, py, docs

#213 docs: serve the schemas URLs
  docs/scripts/copy-schemas.js
  docs/src/components/SchemaDisplay/index.tsx
  docs/src/pages/schemas/index.md
  docs/src/pages/schemas/v1/index.md
Labels: docs

#221 feat: Add a visualize command to the cli
  .github/actions/rust-checks/action.yml
  docs/docs/cli/index.md
  docs/docs/cli/visualize.md
  stepflow-rs/Cargo.lock
  stepflow-rs/Cargo.toml
  stepflow-rs/crates/stepflow-main/Cargo.toml
  stepflow-rs/crates/stepflow-main/src/cli.rs
  stepflow-rs/crates/stepflow-main/src/cli_docs.rs
  stepflow-rs/crates/stepflow-main/src/error.rs
  stepflow-rs/crates/stepflow-main/src/lib.rs
  stepflow-rs/crates/stepflow-main/src/visualize.rs
  stepflow-rs/crates/stepflow-main/tests/commands/mod.rs
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_stepflow__help.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_stepflow__no_command.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_stepflow__with_different_log_levels.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_stepflow__with_log_level.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_visualize__visualize_all_options_combined.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_visualize__visualize_basic_workflow_dot.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_visualize__visualize_basic_workflow_dot_stdout.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_visualize__visualize_basic_workflow_svg.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_visualize__visualize_conditional_skip_workflow.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_visualize__visualize_conditional_skip_workflow_stdout.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_visualize__visualize_help.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_visualize__visualize_invalid_format.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_visualize__visualize_nonexistent_workflow.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_visualize__visualize_png_format.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_visualize__visualize_stdout_non_dot_format.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_visualize__visualize_stdout_with_options.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_visualize__visualize_with_custom_config.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_visualize__visualize_with_no_details_option.snap
  stepflow-rs/crates/stepflow-main/tests/commands/snapshots/test_cli__commands__test_visualize__visualize_with_no_servers_option.snap
  stepflow-rs/crates/stepflow-main/tests/commands/test_visualize.rs
Labels: core, docs

#225 chore: fix stragglers for license update
  examples/production-model-serving/Dockerfile.stepflow
  examples/production-model-serving/Dockerfile.text-models
  examples/production-model-serving/Dockerfile.vision-models
  examples/production-model-serving/scripts/run-dev-direct.sh
  examples/production-model-serving/scripts/run-dev.sh
  examples/production-model-serving/scripts/run-prod.sh
  examples/production-model-serving/scripts/test-workflow.sh
  sdks/python/generate.py
Labels: py

#240 feat: Remove duplicate types
  integrations/langflow/README.md
  integrations/langflow/src/stepflow_langflow_integration/cli/main.py
  integrations/langflow/src/stepflow_langflow_integration/converter/node_processor.py
  integrations/langflow/src/stepflow_langflow_integration/converter/translator.py
  integrations/langflow/src/stepflow_langflow_integration/types/__init__.py
  integrations/langflow/src/stepflow_langflow_integration/types/stepflow.py
  integrations/langflow/tests/conftest.py
  integrations/langflow/tests/integration/test_registry.py
  integrations/langflow/tests/unit/test_translator.py
  integrations/langflow/uv.lock
  sdks/python/src/stepflow_py/__init__.py
Labels: py

#241 docs: Lanchain mcp post and some concurency fixes resulting from such
  docs/blog/2025-08-mcp-langchain-with-stepflow.md
  examples/mcp-component/README.md
  examples/mcp-component/basic.yaml
  examples/mcp-component/input1.json
  examples/mcp-component/stepflow-config.yml
  examples/research-assistant/README.md
  examples/research-assistant/input_ai_workflows.json
  examples/research-assistant/input_langchain_integration.json
  examples/research-assistant/input_mcp_tools.json
  examples/research-assistant/research_server.py
  examples/research-assistant/run.sh
  examples/research-assistant/stepflow-config.yml
  examples/research-assistant/workflow.yaml
  stepflow-rs/crates/stepflow-components-mcp/src/plugin.rs
  stepflow-rs/crates/stepflow-components-mcp/src/schema.rs
Labels: core, docs
